@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


.sideNavLogo {
  width: 52px;
  height: 52px;
  margin-top: 8px;
  margin-bottom: 14px;
}

.logo-loginpage{
  width: 52px;
  height: 52px;
  margin-top: 8px;
  margin-bottom: 24px;
}